<!-- saved from url=(0014)about:internet -->
<html>

<body>
    


    
    <input type="image" src="images/download.png" id="cargarImg" width="80" height="80" onClick="guardarImagen()" />
    <input id="file-input" type="file" name="name" style="display: none;" />

 <div id="fileDisplayArea"></div>

    
                                       
</body>
<script src="scripts/gestorFotos.js" type="module"></script>
</html> 