<!-- saved from url=(0014)about:internet -->
<html>

<body>
    

<form action="/uploadphoto" enctype="multipart/form-data" method="POST"> 
  <input id="myImage" type="file" name="myImage" accept="image/*"/>
  <input type="submit" value="Upload Photo"/>
</form>
 

<div id="fileDisplayArea"></div>
                                       
</body>
<script src="scripts/gestorFotos.js" type="module"></script>
</html> 