<!-- saved from url=(0014)about:internet -->
<html>

<body>
    
 <img class="img-rounded"  id="fotoArti" src="images/FlorRoja.jpg" alt="Card image" width="270"
                                    height="320">
                                        <input type="image" src="images/download.png" id="cargarImg" width="80" height="80" onclick="guardarImagen()" />
                                        <input id="file-input" type="file" name="name" style="display: none;" onChange="cambiarImagenGuardada()" accept=".jpg, .jpeg, .png" />
</body>
<script src="scripts/gestorFotos.js" type="module"></script>
</html> 