<!-- saved from url=(0014)about:internet -->
<html>

<body>
    

<form action="/uploadphoto" enctype="multipart/form-data" method="POST"> 
  <input type="file" name="myImage" accept="image/*"/>
  <input type="submit" value="Upload Photo"/>
  <div id="fileDisplayArea"></div>
</form>
 

    
                                       
</body>
<script src="scripts/gestorFotos.js" type="module"></script>
</html> 