<!-- saved from url=(0014)about:internet -->
<html>

<body>
    

<form action="/uploadphoto" enctype="multipart/form-data" method="POST"> 
  <input id="myImage" type="file" name="myImage" accept="image/*"/>
  <input type="submit" value="Upload Photo"/>
</form>
 
<div class="img-rounded"  id="fileDisplayArea" alt="Card image" width="270"
                                    height="320"> </div>
<div id="fileDisplayArea1"></div>
                                       
</body>
<script src="scripts/gestorFotos.js" type="module"></script>
</html> 