<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html,
    body {
      height: 99.2%;
      margin: 0;
      padding: 0;
    }

    #map_canvas {
      height: 150%;
      width: 80%;
      border-color: red;
      border-style: groove;
      border-width: 5px;
    }

    #content {
      width: 270px;
      background-color: green;
      color: white;
    }
  </style>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false&language=es&key=AIzaSyBehRiakfPZtUWDtqJGafMKLyfXrqAQso8"></script>
  <script src="scripts/Mapa.js" type="module"></script>
</head>

<body class="colorfondo" onload="initialize()">
  <br />
  <div class="well" id="centrador">
    <img class="img-rounded" src="images/usuario.png" width="70" height="70" alt="Card image" />
  </div>
  <br />

  <div class="card mx-auto carta" style="width: 60%;">
    <div class="card-body">
      <div class="container justify-content-center">
        <br />
        <h3 class="text-center text-dark">Registro</h3>
        <br />
        <form name="my-form" onsubmit="" action="/registrarUsuario" method="POST">
          <div class="form-group row">
            <label for="full_name" class="col-2 col-form-label text-right etiqueta">Nombre</label>
            <div class="col-8">
              <input type="text" id="name" class="form-control" name="name" />
            </div>
          </div>
          <div class="form-group row">
            <label for="apellidos_id" class="col-md-2 col-form-label text-md-right etiqueta">Apellidos</label>
            <div class="col-md-8">
              <input type="text" id="apellidos" class="form-control" name="apellidos" />
            </div>
          </div>

          <div class="form-group row">
            <label for="user_name" class="col-md-2 col-form-label text-md-right etiqueta">Usuario</label>
            <div class="col-md-4">
              <input type="text" id="username" class="form-control" name="username" />
            </div>
          </div>

          <div class="form-group row">
            <label for="pass_id" class="col-2 col-form-label text-md-right etiqueta">Password</label>
            <div class="col-4">
              <input type="password" id="pass1" name="pass1" class="form-control" />
            </div>

            <label for="pass_id_2" class="col-2 col-form-label text-md-right etiqueta"
              style="margin-left: -95px;">Password</label>
            <div class="col-3">
              <input type="password" id="pass2" name="pass2" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <label for="pass_id" class="col-2 col-form-label text-md-right etiqueta">Mail</label>
            <div class="col-4">
              <input type="password" id="mail" name="mail" class="form-control" />
            </div>

            <label for="pass_id_2" class="col-2 col-form-label text-md-right etiqueta"
              style="margin-left: -95px;">Provincia</label>
            <div class="col-3">
              <select class="form-control etiqueta" id="provincia" name="provincia" onchange="ajustarMapa()">
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="form-group col-md-6">
              <div class="form-group row">
                <label for="Credito" class="col-md-4 col-form-label text-md-right etiqueta">Credito</label>
                <div class="col-md-4">
                  <input type="number" id="credito" name="credito" min="0" max="1000" step="2" value="0" size="10"
                    class="etiqueta" style="margin-top: 5px;" />
                </div>
              </div>
              <br /><br />
              <br /><br />
              <div class="form-group row" style="margin-left: 180px;">
                <button type="submit" class="btn btn-gris">Aceptar</button>
                <a href="/login" class="btn btn-rojo" tabindex="-1" role="button" aria-disabled="true"
                  style="margin-left: 50px;">Cancelar</a>
              </div>
              <input id="provincias" name="provincias" type="hidden" value="provincia">
            </div>
            <div class="form-group col-md-6">
              <div>
                <div id="map_canvas"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>