<!DOCTYPE html>
<html lang="en">

<body class="colorfondo">
    <br>
    <div class="well" id="centrador">
        <img class="img-rounded" src="images/caja.png" width="70" height="70" alt="Card image">
    </div>
    <br>


    <div class="card mx-auto carta" style="width: 60%;">
        <div class="containerespecial">
        <div class="card-body">
            <div class="container justify-content-center">
                <br>
                <h3 class="text-center text-dark">Registrar Artículo</h3>
                <br>
            <form name="my-form" action="/registrarArticulo" method="POST" enctype="multipart/form-data" onsubmit="return validateRegistroArticulo()">
                <div class="form-group row">
                    <label for="full_name" class="col-lg-3 col-md-4 col-form-label text-md-left text-lg-right etiqueta">Nombre</label>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <input type="text" id="name" class="form-control" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descripcion" class="col-lg-3 col-md-6 col-form-label text-md-left text-lg-right etiqueta">Descripción</label>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-lg-6 col-md-12">
                        <div class="form-group row">
                            <label for="Precio" class="col-lg-6 col-md-4 col-form-label text-md-left text-lg-right etiqueta">Precio</label>
                            <div class="col-lg-6 col-md-4">
                                <input type="number" id="precio" name="precio" min="0" max="1000" step="2" value="0" size="10" class="etiqueta" style="margin-top: 5px;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="categoria" class="col-lg-6 col-md-4 col-form-label text-md-left text-lg-right etiqueta">Categoria</label>
                            <div class="col-lg-6 col-md-8">
                                <select class="form-control etiqueta" id="categoria" name="categoria">
                                    <option>Hogar</option>
                                    <option>Electronica</option>
                                    <option>Videojuegos</option>
                                    <option>Automoviles</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-lg-6">
                                
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="estado" class="col-md-4 col-lg-12 col-form-label text-md-right"></label>
                                <fieldset class="col-md-8 col-lg-12 etiqueta">
                                    <legend class="etiqueta">Estado</legend>
                                    <input class="fieldsetcentrada" type="radio" name="estado" id="estado" value="Nuevo"> Nuevo<br>
                                    <input class="fieldsetcentrada" type="radio" name="estado" id="estado" value="Bueno"> Bueno<br>
                                    <input class="fieldsetcentrada" type="radio" name="estado" id="estado" value="Malo"> Malo<br>
                                </fieldset>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <div class="form-group row" id="selectorFotoGrande">
                            <div class="col-lg-9">
                                <div class="form-group row">
                                    <input id="myImage" class="chooserfiles" type="file" name="myImage" accept="image/*"/>
                                    <label for="myImage" class="labelboton">Seleccione una foto</label>
                                </div>
                                <div class="img-rounded"  id="fotoArti" alt="Card image" width="270"
                                    height="320"> </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-lg-6 col-md-12">
                        <div class="form-group row" style="justify-content: center;">
                            <button type="submit" class="btn btn-gris">Aceptar</button>
                            <a href="/tusArticulos" class="btn btn-rojo" tabindex="-1" role="button" aria-disabled="true"
                            style="margin-left: 40px;">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>
<script src="scripts/gestorFotos.js" type="module"></script>
<script src="scripts/validation.js" type="module"></script>
</html>