<!DOCTYPE html>
<html lang="en">

<head>
    <title>RegistrarUsuario</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="style.css" type="text/css" href="/public/stylesheets/">
</head>

<body>
    <br>
    <div class="well" id="centrador">
        <img class="img-rounded" src="images/usuario.png" width="70" height="70" alt="Card image">
    </div>
    <br>


    <div class="container">
        <form name="my-form" onsubmit="" action="/registrarUsuario" method="POST">
            <div class="form-group row">
                <label for="full_name" class="col-2 col-form-label text-right">Nombre</label>
                <div class="col-8">
                    <input type="text" id="name" class="form-control" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="apellidos_id" class="col-md-2 col-form-label text-md-right">Apellidos</label>
                <div class="col-md-8">
                    <input type="text" id="apellidos" class="form-control" name="apellidos">
                </div>
            </div>

            <div class="form-group row">
                <label for="user_name" class="col-md-2 col-form-label text-md-right">Usuario</label>
                <div class="col-md-4">
                    <input type="text" id="username" class="form-control" name="username">
                </div>
            </div>

            <div class="form-group row ">
                <label for="pass_id" class="col-2 col-form-label text-md-right">Password</label>
                <div class="col-4">
                    <input type="password" id="pass1" name="pass1" class="form-control">
                </div>

                <label for="pass_id_2" class="col-1 col-form-label text-md-right">Password</label>
                <div class="col-3">
                    <input type="password" id="pass2" name="pass2" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <div class="form-group col-md-6">
                    <div class="form-group row ">
                        <label for="mail" class="col-md-4 col-form-label text-md-right">Mail</label>
                        <div class="col-md-8">
                            <input type="mail" id="mail" class="form-control" name="mail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Credito" class="col-md-4 col-form-label text-md-right">Credito</label>
                        <div class="col-md-4">
                            <input type="number" id="credito" name="credito" min="0" max="10" step="2" value="0" size="10">
                        </div>
                        <label for="provincia" class="col-md-4 col-form-label text-md-right">Provincia</label>
                    </div>
                    <br><br>
                    <div class="form-group row" style="margin-left: 180px;">
                        <a href="/login" id="buttonReg" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Cancelar</a>
                        <button id="buttonReg" type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4432648.299397709!2d-6.980809435414803!3d39.899000773332126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc42e3783261bc8b%3A0xa6ec2c940768a3ec!2zRXNwYcOxYQ!5e0!3m2!1ses!2ses!4v1618675976538!5m2!1ses!2ses"
                        width="350" height="200" style="border:0;" allowfullscreen=""
                        loading="lazy">
                    </iframe>
                </div>
            </div>
        </form>
    </div>
</body>

</html>