<!DOCTYPE html>
<html lang="es">
   <body>
      <div class="mx-auto" style="margin: 50px;">
         <div class="container" style="text-align: center;  padding: 20px; ">
            <i class="fas fa-search-dollar fa-6x"></i>
         </div>
         <div class="card mx-auto" style="width: 80%; padding: 10px;">
         <div class="row scroll" style="max-height: 650px; overflow-y: auto;">
            {{#each articulos}}
               <div class="col-md-6 mb-6">
               <div class="card text-center">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-3">
                           <img class="img-rounded" src="images/caja.png" width="70" height="70" alt="Card image">
                        </div>
                        <div class="col-6">
                           <div>
                              <b class="m-2">{{nombre}}</b>
                           </div>
                           <div>
                              <textarea rows="4" cols="50" disabled>{{descripcion}}</textarea>
                           </div>
                        </div>
                        <div class="col-3">
                           <div>
                              <b>{{precio}} €</b>
                           </div>
                        </div> 
                     </div>
                  </div>
                  <br>
               </div>
               </div>
            {{else}}
               <div class="col-md-4 mx-auto">
                  <div class="card card-body text-center">
                     <p>No hay articulos disponibles</p>
                     <a href="/contacts/add">Add One!</a>
                  </div>
               </div>
            {{/each}}
         </div>    
      </div>
   </body>
   <script src="scripts/buscador.js" type="module"></script>
</html>

