body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-gris {
  background: #6C757D;
  border-color: #6C757D;
  color:rgb(255, 255, 255);
  margin-left: 15px;
}

.btn-rojo {
  background: #DC3545;
  border-color: #DC3545;
  color:rgb(255, 255, 255);
  margin-left: 15px;
}

.colorfondo {
  background-color: #40474F;
}

.carta {
  border-width: 10px;
  border-color: #343a40;
  width: 80%; 
  height: 80%;
  padding: 10px;
}

.cartalogin {
  border-width: 10px;
  border-color: #343a40;
  width: 60%; 
  height: 40%;
  padding: 10px;
}

.etiqueta {
  font-size: large;
}

.cartascroll {
  max-height: 600px; 
  overflow-y: auto;
}

a {
  color: #00B7FF;
}

#centrador{
  text-align: center;
}

#alinearIzquierda{
  align-items: flex-start; 
}

.form-control {
  display:initial !important;
}


#buttonReg{
  margin-top: 80;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 25px;
  background: rgb(36, 64, 185);
}

fieldset {
background-color: white;
border-radius: 4px;
border: 1px solid rgb(0, 0, 0);
  padding-bottom: 20px;
}

#fieldsetReg {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
    padding-bottom: 20px;
  }

legend {
background-color: #fff;
border: 1px solid rgb(255, 255, 255);
border-radius: 4px;
color: black;
font-size: 17px;
font-weight: bold;
width: auto;
}

#legendReg {
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  width: auto;
  }